.wrapper {
  display: flex;
  height: 33%;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.top {
  display: flex;
  align-items: center;
  padding: 0 0 10px 18px;
}

.icons {
  display: flex;
  align-items: center;
  margin: 0 18px 0 auto;
}

.basket, .filterIcon, .listsIcon {
  margin-left: 12px;
  cursor: pointer;
}

.objectList {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 174px);
  align-content: start;
  gap: 10px;
  padding: 15px;
  overflow: auto;
}

.icons {
  display: flex;
  align-items: center;
  margin: 0 18px 0 auto;
}

.basket, .filterIcon, .listsIcon {
  margin-left: 12px;
  cursor: pointer;
}

.filterWrapper {
  display: flex;

  &:hover .filterIcon + .hide {

    display: flex;
    align-items: center;
    width: auto;
    height: 17px;
    background: rgba(243, 243, 243, 0.65);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    border-radius: 2px;
    right: 117px;
    top: 7px;
  }
}

.basketWrapper {
  display: flex;

  &:hover .basket + .hide {

    display: flex;
    align-items: center;
    width: auto;
    height: 17px;
    background: rgba(243, 243, 243, 0.65);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    border-radius: 2px;
    right: -33px;
    top: 7px;
  }
}

.listsWrapper {
  display: flex;

  &:hover .listsIcon + .hide {

    display: flex;
    align-items: center;
    width: auto;
    height: 17px;
    background: rgba(243, 243, 243, 0.65);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    border-radius: 2px;
    right: 50px;
    top: -2px;
  }
}

.hide {
  display: none;
  position: absolute;
}

.clear, .filter, .lists {
  font-size: 10px;
  line-height: 144.69%;
  color: #000000;
  margin: 0;
  padding: 2px 6px;
}