.btn {
  margin: 0;
}


.itemsWrapper {
  background: linear-gradient(142.94deg, rgba(255, 255, 255, 0.468) 0%, rgba(255, 255, 255, 0.104) 102.09%) !important;
  box-shadow: 0 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 4px;
  width: 184px;
  position: fixed;
  cursor: pointer;

  .textBlock {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 0;
    padding: 4px 5px 4px 9px;
    white-space: nowrap;

    &:hover {
      color: white;
      background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
    }

    &:first-child {
      margin-top: 8px;
      border-radius: initial;
    }

    &:last-child {
      margin-bottom: 9px;
      border-radius: initial;
    }
  }

  .disabledText {
    @extend .textBlock;

    color: rgba(0, 0, 0, 0.5);
    cursor: initial;

    &:hover {
      color: rgba(0, 0, 0, 0.5);
      background: none;
    }
  }
}

.icon {
  position: absolute;
  right: 0;
}
