.root {
  padding: 25px;
  height: 100%;
}

.container {
  background: linear-gradient(
    152.97deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.22) 100%
  );
  /* shad */

  box-shadow: 0px 12px 27px rgba(12, 74, 167, 0.31);
  border-radius: 10px;
}
.sidebar {
  width: 200px;
  height: 700px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.schema {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.links {
  width: 500px;
  height: 200px;
}

.contexts {
  width: 400px;
  height: 200px;
}

.tables {
  height: 100%;
}

.sidebarWrapper {
  border: 2px solid red;
}
