.iconButton {
  cursor: pointer;
}

.small {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 10px;
}

.medium {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 10px;
}

.large {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 10px;
}
