.iconButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;

  &:hover > .icon {
    opacity: 1;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: all 0.2s;
}

.small {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0px;
}

.medium {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 10px;
}

.large {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 10px;
}
