.menuItem {
  align-items: center;
  height: 26px;
}

.mainButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  height: 38px;
}

.mainButton:hover {
  text-decoration-line: underline;
}

.itemsWrapper {
  left: -56px;
  z-index: 100;
}

.mainButtonRight {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}