.menuItem {
  align-items: center;
  height: 26px;
}

.menuContainer {
  background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.208) 0%, rgba(21, 21, 21, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
  backdrop-filter: blur(7px);
  border-radius: 7.5px;
  box-shadow: 0 4px 4px rgba(34, 82, 102, 0.25);
}

.mainBtn {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & .note {
    margin-left: 8px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}