.menuItem {
  align-items: center;
  height: 26px;
}

.mainButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  height: 38px;
}

.mainButton:hover {
  text-decoration-line: underline;
}

.itemsWrapper {
  left: -56px;
  z-index: 100;
}

.mainButtonRight {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.menuContainer {
  background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.208) 0%, rgba(21, 21, 21, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
  backdrop-filter: blur(7px);
  border-radius: 7.5px;
  box-shadow: 0 4px 4px rgba(34, 82, 102, 0.25);
}

.mainBtn {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  background-color: transparent;
  // border: none;

  & .note {
    margin-left: 8px;
  }
}