.root {
  width: 220px;
  position: absolute;
  right: 0;
  outline: 1px solid #dedede;
  height: 100vh;
}

.item {
  padding: 5px;
  cursor: pointer;
  color: #000;
  opacity: 0.3;
  color: #fff;
}

.active {
  opacity: 1;
}
