.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.buttonsWrapper {
  display: flex;
  margin-top: 10px;
}

.iconWrapper {
  display: flex;
  position: relative;
  max-width: 280px;
}

.addIcon {
  position: absolute;
  right: 0px;
  top: -12px;
  cursor: pointer;
}

.gearsIcon {
  position: absolute;
  right: -77px;
  top: -12px;
}

.wireIcon {
  position: absolute;
  top: -22px;
  right: 7px;
}

.edit {
  background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: white;
  border: none;
  height: 22px;
  margin-left: auto;
}

.test {
  background: linear-gradient(199.32deg, #1AE3D7 -13.92%, #0945DF 111.71%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 10px;
  line-height: 12px;
  height: 22px;
  margin-left: 15px;
}


