.actionWrapper {
  cursor: pointer;
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.divider {
  @extend .actionWrapper;
  
  cursor: initial;
}

.actionsContainer {
  display: flex;
  position: relative;
  margin-top: 25px;
}

.tableTypes {
  display: flex;
  position: absolute;
  top: -11px;
  left: 450px;
  background: #FFFFFF;
  box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 9px 10px 7px;
}

.graphTypes {
  @extend .tableTypes;

  align-items: baseline;
  left: 500px;
}

.iconsWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.iconsText {
  margin: 0;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  color: #000000;
  margin-top: 2px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

.input {
  margin-left: 15px;
  min-width: 43px;
  max-width: 43px;
  height: 24px;
  border: 1px solid #ff8b2b;
  margin-bottom: 3px;
}

.inpitValue {
  text-align: center;
  padding-top: 3px;
  padding-left: 3px;
}

.firstPage {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: #000000;
}

.firstPageText {
  position: absolute;
  margin: 0;
  top: -8px;
  left: -6px;
}

.lastPage {
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: #000000;
  margin-left: 15px;
}

.lastPageText {
  position: absolute;
  margin: 0;
  top: -6px;
  left: 14px;
}

.rotate {
  transform: rotate(180deg);
}

.indents {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 2px;
}
