.dialog {
  max-width: unset !important;
  width: 90% !important;
  height: 90vh;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    display: flex;
    min-height: 700px;
    height: 100%;

    .leftPanel {
      width: 30%;
    }

    .rightPanel {
      width: 70%;
      display: flex;
      flex-direction: column;
      padding: 15px 25px 18px 7px;
    }
  }
}

.modalContent {
  padding: 0 !important;
}
