.root {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title {
  font-size: 12px;
  padding: 5px;
}

.actions {
  display: flex;

  &btn {
    margin: 5px;
    cursor: pointer;

    &active {
      outline: 1px solid #fff;
    }
  }
}
