.tableWrapper {
  overflow: auto;
}

.listTable {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  background-color: transparent;
  border: none;
  position: relative;

  & thead {
    z-index: 100;
    position: sticky;
    top: 0;
  }

  & th,
  & td {
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
  }

  & th {
    border-left: 1px solid #919191;
    padding: 10px 0 10px 18px;
    text-decoration-line: underline;

    &:first-child {
      border: none;
    }
  }

  & td {
    padding-left: 18px;
  }
}
