.wrapper {
  display: flex;
  flex-direction: column;
  height: 33%;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.filtersBlock {
  overflow-y: scroll;
}

.filterWrapper {
  display: flex;
  padding-left: 21px;
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 0 0 18px;
}

.iconsIndents {
  margin-left: 12px;
  cursor: pointer;
}

.basket, .groupIcon {
  @extend .iconsIndents;
}

.basketWrapper {
  display: flex;
  
  &:hover .basket + .hide {
    
    display: flex;
    align-items: center;
    width: auto;
    height: 17px;
    background: rgba(243, 243, 243, 0.65);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    border-radius: 2px;
    right: -58px;
    top: -2px;
  }
}

.groupWrapper {
  display: flex;

  &:hover .groupIcon + .hide {

    display: flex;
    align-items: center;
    width: auto;
    height: 17px;
    background: rgba(243, 243, 243, 0.65);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    border-radius: 2px;
    right: 58px;
    top: -2px;
  }
}

.icons {
  display: flex;
  align-items: center;
  margin: 0 18px 0 auto;
}

.rotate {
  transform: rotate(180deg);
}

.hide {
  display: none;
  position: absolute;
}

.clear, .group {
  font-size: 10px;
  line-height: 144.69%;
  color: #000000;
  margin: 0;
  padding: 2px 6px;
}

.filterItems {
  display: flex;
  flex-direction: column;
}

.conditionBlock {
  height: auto;
  display: flex;
  align-items: center;
}

.verticalDivider {
  height: 100%;
  width: 2px;
  background: #FFFFFF;
  margin-left: 4px;
  margin-right: 8px;
}
