.wrapper {
  background: linear-gradient(152.97deg, rgba(0, 55, 137, 0.75) 0%, rgba(0, 55, 137, 0.375) 100%);
  box-shadow: 0px 7px 17px rgba(34, 82, 102, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  min-width: 210px;
  max-width: 210px;
  user-select: none;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 7px 7px 9px 17px;
}

.heading {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin: 0;
}

.menu {
  cursor: pointer;
}

.buttonIndents {
  padding: 0px 7px 0 10px;
}

.content {
  background: #2F465E;
  margin-bottom: 13px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 230px;
}

.list {
  list-style-type: none;
  padding: 0 16px;
  margin: 0;
}

.contentWithSearch {
  max-height: 212px;
}

.item {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin: 0 -16px;
  padding: 3px 16px;

  &:hover {
    transition: .3s ease-in-out;
    background: rgba(196, 196, 196, 0.25);
  }
}

.itemsWrapper {
  background: linear-gradient(142.94deg, rgba(255, 255, 255, 0.468) 0%, rgba(255, 255, 255, 0.104) 102.09%);
  box-shadow: 0px 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 7.5px;
  width: 207px;
  left: 34px;
  top: -7px;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin: 0;
  padding: 4px 5px 4px 9px;
  white-space: nowrap;

  &:hover {
    color: white;
    background: linear-gradient(199.32deg, #1AE3D7 -13.92%, #0945DF 111.71%);
  }

  &:first-child {
    margin-top: 13px;
    border-radius: initial;
  }

  &:last-child {
    padding-bottom: 9px;
  }
}

.iconsContainer {
  display: flex;
}

.search {
  margin: 0 -25px;

  &:hover {
    background: none;
  }
}

.inputWrapper {
  position: relative;
}

.input {
  display: block;
  margin: 0 16px 3px 16px;
  border-radius: initial;
  border: none;
  outline: none;
  font-size: 11px;
  line-height: 13px;
}

.icon {
  position: absolute;
  right: 21px;
  top: 3px;
  cursor: pointer;
}

.hide {
  display: none;
}

.magnifier {
  cursor: pointer;
}
