.wrapper {
  background: linear-gradient(
                  152.97deg,
                  rgba(0, 55, 137, 0.75) 0%,
                  rgba(0, 55, 137, 0.375) 100%
  );
  box-shadow: 0 2px 4px rgba(34, 82, 102, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  min-width: 210px;
  max-width: 210px;
  user-select: none;
  padding-bottom: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px 5px 15px;
}

.heading {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  cursor: pointer;
}

.buttonIndents {
  padding: 0 6px;
}

.content {
  background: #2f465e;
  margin-bottom: 13px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 230px;
}

.list {
  list-style-type: none;
  padding: 0 16px;
  margin: 0;
}

.contentWithSearch {
  max-height: 212px;
}

.item {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0 -16px;
  padding: 3px 16px;

  &:hover {
    transition: 0.3s ease-in-out;
    background: rgba(196, 196, 196, 0.25);
  }
}

.itemHighlited {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0 -16px;
  padding: 3px 16px;
  background: #cc8e35;
  &:hover {
    transition: 0.3s ease-in-out;
    background: rgba(196, 196, 196, 0.25);
  }
}

.itemsWrapper {
  background: linear-gradient(
                  142.94deg,
                  rgba(255, 255, 255, 0.468) 0%,
                  rgba(255, 255, 255, 0.104) 102.09%
  );
  box-shadow: 0 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 7.5px;
  width: 207px;
  left: 34px;
  top: -7px;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin: 0;
  padding: 4px 5px 4px 9px;
  white-space: nowrap;

  &:hover {
    color: white;
    background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
  }

  &:first-child {
    margin-top: 13px;
    border-radius: initial;
  }

  &:last-child {
    padding-bottom: 9px;
  }
}

.iconsContainer {
  display: flex;
}

.search {
  margin: 0 -25px;

  &:hover {
    background: none;
  }
}

.inputWrapper {
  position: relative;
  margin: 5px 0;
}

.input {
  display: block;
  margin: 0 16px 3px 16px;
  border-radius: initial;
  border: none;
  outline: none;
  font-size: 11px;
  line-height: 13px;
}

.icon {
  position: absolute;
  right: 21px;
  top: 3px;
  cursor: pointer;
}

.hide {
  display: none;
}

.magnifier {
  cursor: pointer;
}

.arrowBtnOpened, .arrowBtnClosed {
  margin: 0 5px 0 3px;

  & path {
    stroke: #FFFFFF;
  }
}

.arrowBtnOpened {
  transform: rotate(180deg);
}