.root {
  flex: none;
  border-radius: 10px;
  box-shadow: 0px 18px 17px rgba(34, 82, 102, 0.75);
  width: 316px;
}

// TODO: выяснить причину почему не работают стиль без !important
.tabItem {
  font-size: 20px !important; 
  font-weight: 500 !important;
  white-space: nowrap;
  align-items: flex-end !important;
  justify-content: flex-start !important;
  padding-left: 15px !important;
}