.root {
  flex: none;
  border-radius: 10px;
  box-shadow: 0px 18px 17px rgba(34, 82, 102, 0.75);
  width: 316px;
}

// TODO: выяснить причину почему не работают стиль без !important
.tabItem {
  font-size: 20px !important; 
  font-weight: 500 !important;
  white-space: nowrap;
  align-items: flex-end !important;
  justify-content: flex-start !important;
  padding-left: 15px !important;
}

%tableItem {
  display: flex;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 1px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  transition: 300ms background-color, 300ms color;

  span {
    margin-left: 7px;
  }
}

%item {
  display: flex;
  height: 20px;
  cursor: pointer;

  button {
    display: flex;
    border: none;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 35px;
    background-color: inherit;
  }

  span {
    font-weight: 400;
    font-size: 12px;
  }
}

.tableItem {
  @extend %tableItem;
}

.actTableItem {
  @extend %tableItem;
  background-color: #2B6DD0;
  color: white;
  transition: 300ms background-color, 300ms color;
  svg path {
    fill: white;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: left;
}

.actListItems {
  display: block;
}

.disListItems {
  display: none;
}

.item {
  @extend %item;
}

.actItem {
  @extend %item;
  flex-direction: column;
  height: fit-content;

  button {
    background-color: #2B6DD0;
    color:#ffffff;
  }

  .iconActive {
    path {
      fill: white;
    }
  }

}

.tableFields {
  margin-top: 3px;
  color: #000;
  font-size: 12px;

  svg {
    margin-right: 5px;
  }
  
  .tableField {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 55px;
  }

  .actTableField {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 55px;
    border-radius: 3px;
    color: white;
    background-color: #2B6DD0;
  }
}

.objectsData {
 @extend .tableFields;  

 .objectLayer {
  display: flex;
  flex-direction: row;
  align-items: center;  
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
  padding: 2px 0px;
  padding-left: 15px;
 }

 .actObjectLayer {
  @extend .objectLayer;
  border-radius: 3px;
  color: white;
  background-color: #2B6DD0;
  
  svg path {
    fill: white;
  }
 }
  
}

.icons {
  position: relative;
  z-index: 5;
  margin-right: 4px;

  .folderIcon {
    position: absolute;
    z-index: -1;
    right: 2px;
    top: 2px;
  }
}

.listWrapper {
  overflow: hidden;
  overflow-y: scroll;
  height: 666px;
}

.listItemWrapper {
  display: flex;
  align-items: center;
}

.listItemName {
  margin-top: 3px;
  margin-left: 5px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  max-width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listItemFieldWrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
  
.listItemField {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-left: 5px;
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

.tooltip {
  visibility: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 3px;
}

.searchInput {
  outline: 1px solid #C4C4C4;
  transition: outline 0.2s;
  border-radius: 3px;
  width: 170px;
  height: 17px;
  margin-left: 12px;
}

.searchInputObjects {
  @extend .searchInput;
  width: 182px;
  margin-left: 0px;
}

.searchInput:focus-visible {
  outline: 1px solid #003789bf;
}

.magnifier {
  margin-left: 6px;
  cursor: pointer;
}

.objectItemWrapper {
  position: relative;

  .objectDrdnWrapper {
    z-index: 10;
    width: fit-content;
    display: flex;
    position: absolute;
    right: 0;
    background: linear-gradient(
      152.97deg,
      rgba(47, 137, 187, 0.208) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
    backdrop-filter: blur(7px);
    border-radius: 7.5px;
  }
  
  .dropdownItem {
    padding: 0;
  
    &:hover {
      background-color: transparent;
    }
  
    &:hover svg {
      fill: #0078bb;
      transition: all 0.2s;
    }
  
    & div {
      margin: 0;
      padding: 8px 6px;
    }
  }

}
