.root {
  background: linear-gradient(
    152.97deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.22) 100%
  );
  flex: 1;

  box-shadow: 0px 12px 27px rgba(12, 74, 167, 0.31);
  border-radius: 10px;

  height: 200px;

    
  &:first-child {
    flex: 2;
    // margin-left: 315px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.content {
  display: flex;
  flex-direction: row;
  height: calc(100% - 40px);
  padding: 12px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  align-items: center;
  padding: 10px;
}

.list {
  list-style: none;
  padding: 0px;
  overflow: auto;
  width: 100%;
  margin: 0;

  .item {
    display: flex;
  }

  &Item {
    font-size: 14px;
    &:hover {
      color: #2B6DD0;
      cursor: pointer;
    }
  }
}

.title {
  font-weight: 600;
}
