.tableRow {
  cursor: pointer;
  position: relative;

  &.active {
    background-color: #2b6dd0;
    color: #ffffff;
    transition: all 0.2s;
  }

  &.active td > * {
    color: #ffffff;
  }

  & .dropdownContainer {
    padding: 0;
    display: flex;
    background: linear-gradient(
      152.97deg,
      rgba(47, 137, 187, 0.208) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
    backdrop-filter: blur(7px);
    border-radius: 7.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 100;
    opacity: 0;

    &.active {
      opacity: 1;
      transition: all 0.2s;
    }
  }
}
