.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 100px);
  // height: 100%;
  // overflow: auto;
  padding: 16px 22px;
  background: linear-gradient(
    154.55deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.22) 95.45%
  );
  box-shadow: 0px 12px 27px rgba(12, 74, 167, 0.31);
  border-radius: 10px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
