.dialog {
  width: 100%;
  max-width: 557px;
  height: 435px;

  background: linear-gradient(
    152.97deg,
    #005889 0%,
    rgba(0, 88, 137, 0.5) 100%
  ) !important;
  box-shadow: 0px 7px 17px rgba(34, 82, 102, 0.75) !important;
  backdrop-filter: blur(10px) !important;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  align-items: center;
}

.parameterTypeBlock {
  width: 557px;
  height: 49px;
  background: rgba(0, 0, 0, 0.5);
  display: flex !important;
  flex-direction: column important;
  align-items: center;
  //   margin-bottom: 63px;

  color: rgb(255, 255, 255);
  font-family: roboto;

  .text {
    margin-left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

.promptTextBlock {
  display: flex !important;
  flex-direction: column important;
  align-items: center;
  justify-content: start;

  .text {
    margin-left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding-right: 7px;
  }

  .input {
    width: 406px;
    height: 22px;
    outline: 0 !important;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}

.allRadio {
  width: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-size: 14px !important;

  .text {
    display: flex !important;
    width: fit-content;
    margin: 0px !important;
    height: 15px;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 16px;
  }
}

.allCheckBoxBlock {
  width: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px !important;

  font-size: 14 px !important;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 16px;
  white-space: nowrap;
  .label {
    font-size: 14px !important;
  }
}

.checkBox {
  display: flex;
  flex-direction: row;
  padding: 0px 5px 5px 15px;
  margin-top: 5px;
}

.byDefaultBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: start;
  width: 557px;
  height: 96px;
  background: rgba(0, 0, 0, 0.5);

  .text {
    margin: 7px 0px 8px 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  .defaultBoxText {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .defaultCheckBox {
    padding: 0px 0px 0px 15px;
    .CheckBox_label {
      font-size: 16px;
    }
  }
}

.defaultCheckBoxButton {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  .button {
    margin-left: 13px;
  }
  .label {
    font-style: 14px !important;
  }
}

.inputArrowBlock {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  .input {
    width: 248px;
    height: 22px;
    margin: 8px 0px 8px 15px;
    outline: none;
  }
  .dataWindow {
    position: absolute;
    bottom: 76px;
    right: 14px;
    z-index: 2000;
    width: 248px !important;
    height: 194px;
    outline: none;
    background: #ffffff;
  }

  .arrow {
    transform: rotate(270deg);
    margin: 10px 8px 8px 8px;
  }
}

.footerButtons {
  width: 557px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 15px;

  .button {
    margin: 0px 5px 0px 5px;
  }
}

.label {
  font-size: 14px !important;
}
