.small {
  width: 20px;
  height: 20px;
}

.medium {
  width: 24px;
  height: 24px;
}

.large {
  width: 28px;
  height: 28px;
}

.danger {
  fill: #ff0000;
}

.primary {
  fill: #0000ff;
}

.sucess {
  fill: #008000;
}
