.root {
  position: relative;
}

.objects {
  height: 100%;
  z-index: 11;
  position: absolute;
}

.sidePanel {
  height: 100%;
  width: 240px;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 10;
  visibility: hidden;
  background: linear-gradient(
    152.97deg,
    rgba(0, 55, 137, 0.75) 0%,
    rgba(0, 55, 137, 0.375) 100%
  );
  box-shadow: 0 7px 17px rgba(34, 82, 102, 0.75);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.sidePanelVisible {
  transition: left ease-in-out 250ms;
  left: 315px;
  visibility: visible;
  color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  outline: 1px solid black;
  overflow: hidden;
  position: relative;

  &-portrait {
    width: 1240px;
    height: 1754px;
  }

  &-landscape {
    width: 1754px;
    height: 1240px;
  }
}

.tabs {
  display: flex;

  .tab {
    cursor: pointer;
    font-size: 14px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    margin-right: 10px;

    &_active {
      background-color: #16a9db;
      color: white;
    }
  }
}

.formulaEditor {
  width: 100%;
  height: 35px;
  background-color: #fff;
}

.closeIcon {
  margin-left: 15px;
  width: 10px;
}
