.wrapper {
  display: flex;
  width: 100%;
  margin-left: 15px;
}

.list {
  list-style-type: none;
  margin-bottom: 0;

  &:last-child {
    margin-left: 58px;
  }
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 144.69%;
  border: none;
  width: 100%;
  justify-content: initial;
  margin: 0;
  white-space: nowrap;
  margin-bottom: 9px;
}