.modalContent {
  padding: 0;
}

.selectInput {
  padding-left: 6px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.connectionWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 22px;
}

.connectorsLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.selectInput {
  padding-left: 6px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  border: none;
}

.selectText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.connectionTypeSection {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.connectionTypeWrapper {
  width: 301px;
  padding: 0 0 11px 22px;
}

.connectionTypeInputsWrapper {
  padding-left: 21px;
}

.connectorsInput {
  margin-bottom: 10px;
  padding-left: 6px;
  font-size: 10px;
}

.testConnectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
}

.gearsIconWrapper {
  position: relative;
  top: 40px;
  margin-left: 85px;
  transform: scale(1.5);
}

.testConnectionButton {
  margin-top: 146px;
}