.isJustify {
  width: 100%;
}

.select {
  max-width: 379px;
  height: 22px;
  outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
  background-image: url(./selectArrow.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.content {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
