.objectQueryBlock {
  display: flex;
  flex-direction: row;
  padding: 3px 30px 5px 18px;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.5);
}

.selectGroup,
.whereGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.descriptionInput {
  height: 74px;
  width: 276px;
  background-color: #fff;
  padding: 5px;
  margin: 5px 0 9px 5px;
  border: 0;
  outline: none;
  overflow-y: scroll;
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  padding-top: 4px;
}

.dividerGroup {
  display: flex;
  flex-direction: row;
}

.divider {
  height: 276px;
  border: 1px solid rgba(230, 230, 230, 0.1);
  margin-left: 17px;
}

.gearsGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gearsIcon {
  position: relative;
  right: -80px;
  top: -45px;
}

.testButton {
  margin: 70px 0 0 13px;
}
