.wrapper {
  display: flex;
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 144.69%;
  border: none;
  width: 100%;
  justify-content: initial;
  margin: 0;
  white-space: nowrap;
  margin-bottom: 9px;
}

.input {
  width: 55px;
  height: 22px;
  border: none;
  margin: 0 9px 4px 0;
}