.wrapperColumn {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 144.69%;
  border: none;
  width: 100%;
  justify-content: initial;
  margin: 0;
  white-space: nowrap;
  margin-bottom: 4px;
  white-space: break-spaces;
}