.techInfoInput {
  width: 379px;
  height: 74px;
  background-color: #fff;
  padding: 5px;
  margin: 5px 0 9px 5px;
  border: 0;
  outline: none;
  overflow-y: scroll;
  resize: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}
