.container {
    font-size: 14px;
    position: fixed;
    z-index: 999999;
  }
  
  .bottom-right {
    top: 1px;
    right: 310px;
    animation: toast-in-right .7s;
  }
  
  .notification {
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px #999;
    color: #000;
    opacity: 0.9;
    transition: .3s ease;
    display: flex;
    justify-content: space-between;
  }
  
  .notification:hover {
    box-shadow: 0 0 12px #fff;
    opacity: 1;
  }
  
  .toast {
    height: 50px;
    width: 365px;
    color: #fff;
    padding: 20px 15px 10px 10px;
  }
  
  .container button {
    float: right;
    background: none;
    border: none;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: 460px;
    width: 300px;
    height: 18px;
  }
  
  .description {
    margin: 0;
    text-align: left;
  }

  .success {
    background-color: #5cb85c;
    width: 1100px;
    height: 64px;
  }

  .danger {
    background-color: #d9534f;
    width: 1100px;
    height: 64px;
  }
  
  @keyframes toast-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .close {
    transition: transform 0.8s ease-in-out;
    &:hover {
      transform: rotate(360deg) scale(1.3);
      width: 14px;
    }
  }

  .modalClose {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -0.5rem -1rem auto;
  }