.wrapperColumn {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;

  .label {
    font-size: 10px;
    line-height: 11px;
  }
}

.indents {
  margin-left: 32px;
}

.checkbox {
  margin-bottom: 13px;
}

.radioWrapper {
  display: flex;
}

.radioWithIndent {
  margin-right: 30px;
  margin-left: 19px;
}
