.tableSmall {
  th {
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
  }
  td {
    padding: 4px;
    font-size: 10px;
    max-width: 1100px;
  }
}

.tableMedium {
  th {
    cursor: pointer;
    padding: 14px;
    font-size: 16px;
  }
  td {
    padding: 14px;
    font-size: 16px;
  }
}

.tableLarge {
  th {
    cursor: pointer;
    padding: 20px;
    font-size: 22px;
  }
  td {
    padding: 20px;
    font-size: 22px;
  }
}

.tableHeaderSticky {
  position: sticky;
}

.pagination {
  display: flex;
}

// ul {
//   list-style: none;
//   padding: 0;

//   li a:hover,
//   li a.active {
//     color: blue;
//   }
//   li {
//     display: inline-block;
//     width: 30px;
//     border: 1px solid #e2e2e2;
//     display: flex;
//     justify-content: center;
//     font-size: 25px;
//     a {
//       text-decoration: none;
//       color: #337ab7;
//       font-size: 20px;
//     }
//   }
// }

.activeLink {
  color: black;
}