.root {
  position: relative;
  padding: 32px 64px;
  height: calc(100% - 75px);
}

.tabsContainer ul {
  display: flex;
  flex-direction: column;
}

.tabsContainer li {
  flex: unset;
  box-shadow: none;
  border-radius: 10px 0 0 10px;
}

.tabsContent {
  display: flex;
  flex-direction: column;
  min-width: 650px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 16px 22px;
  background: linear-gradient(154.55deg, #ffffff 0%, rgba(255, 255, 255, 0.22) 95.45%);
  box-shadow: 0 12px 27px rgba(12, 74, 167, 0.31);
  border-radius: 0 10px 10px 10px;
  overflow-y: auto;
}

