.actionWrapper {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: 24px;
}

.divider {
  composes: actionWrapper;
  cursor: auto;
  margin-left: 40px;
}

.actionWrapper span {
  width: min-content;
  text-align: center;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  margin-top: 7px;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 17px;
}

.deactivated {
  color: #fff;
}

.filterInput {
  margin-left: 10px;
}

.pressedButton {
  position: absolute;
  width: 45px;
  height: 45px;
  top: -6px;
  background: rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: -1;
}
