.dialog {
    max-width: 426px;
    background: linear-gradient(152.97deg, rgba(0, 55, 137, 0.75) 0%, rgba(0, 55, 137, 0.375) 100%);
    box-shadow: 0px 7px 17px rgba(34, 82, 102, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 10px; 
  }

  .name {
    height: 22px;
  }

  .input {
    outline: none;
  }