.tooltip {
  position: absolute;
  padding: 4px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
  margin: 0
}

.targetElement {
  cursor: pointer;
}

.top {
  bottom: 120%;
  transform: translateX(-50%);
  left: 50%;
}

.bottom {
  top: 60%;
  transform: translateX(-50%);
  left: 50%;
}

.right {
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
}

.left {
  right: 100%;
  transform: translateY(-50%);
  top: 50%;
}
