.tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #ededed;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #777;
  z-index: 9999;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
  margin: 0
}

.targetElement {
  cursor: pointer;
}

.top {
  bottom: 120%;
  transform: translateX(-50%);
  left: 50%;
}

.bottom {
  top: 60%;
  transform: translateX(-50%);
  left: 50%;
}

.right {
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
}

.left {
  right: 100%;
  transform: translateY(-50%);
  top: 50%;
}
