
.overlay {
  padding: 0;
  opacity: 1;

  & :global {
    
    .rc-tooltip-arrow {
      display: none;
    }

    .rc-tooltip-inner {
      color: #000000;
      pointer-events: none;
      background: #ffff;
      box-shadow: 0px 4px 4px rgba(34, 82, 102, 0.25);
    }
  }
}
