.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 14px 20px 72px 20px;
  width: 426px;
  min-height: 204px;
  margin: 10px;
  background: linear-gradient(152.97deg, rgba(226, 27, 0, 0.75) 0%, rgba(255, 148, 22, 0.75) 100%);
  box-shadow: 0 7px 17px rgba(34, 82, 102, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 43px;
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 29px;
  bottom: 23px;
  right: 20px;
  background: linear-gradient(199.32deg, #1AE3D7 -13.92%, #0945DF 111.71%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
}