.root {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 30px;

  &_text {
    position: relative;
    top: 6px;
    left: 5px;
    margin-right: 15px;
  }
}

.defaultLogoWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pageTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  margin-top: -5px;
}

.pageLogo {
  margin-left: 7px;
}