.root {
  background: #ffffff;
  padding: 15px 4px 15px 19px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;

  &.report {
    width: 300px;
    padding: 5px 4px 15px 4px;
    height: 110%;
    border-radius: 0;
  }
}

.panelListContainer {
  overflow: scroll;
  height: 100%;
}
