.root {
  background: #ffffff;
  padding: 15px 4px 15px 19px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 320px;

  &.report {
    width: 300px;
    padding: 5px 4px 15px 13px;
    height: 110%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.panelListContainer {
  overflow: scroll;
  height: 100%;
}
