.root {
  width: 90vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  outline: 1px solid black;
  overflow: hidden;
  position:relative;

  &-portrait {
    width: 1240px;
    height: 1754px;
  }

  &-landscape {
    width: 1754px;
    height: 1240px;
  }
}

.tabs {
  display: flex;

  .tab {
    cursor: pointer;

    &_active {
      background-color: red;
    }
  }
}

.formulaEditor {
  width: 100%;
  height: 35px;
  background-color: #fff;
}