.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.container {
  width: 99%;
  height: 90%;
  outline: 1px solid black;
  position: relative;
  background: white;
  overflow: scroll;
}

.innerContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
  
  // &-portrait {
  //   width: 1240px;
  //   height: 1754px;
  // }

  // &-landscape {
  //   width: 1754px;
  //   height: 1240px;
  // }

.containerTab1 {
  @extend .container;

  left: 234px;
  height: 96%;
  width: calc( 99% - 234px);
}

.containerFull {
  @extend .container;

  height: 96%;
}

.containerTab1Formula {
  @extend .container;

  width: calc( 99% - 234px);
  left: 234px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  display: flex;
  margin-top: 7px;

  .tab {
    margin-right: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    &_active {
      display: flex;
      font-weight: 900;
    }
  }
}

.tabsCompressed {
  @extend .tabs;
  margin-left: 234px;
}

.closeIcon {
  margin-left: 15px;
  width: 10px;
}

.plus {
  margin-right: 5px;
}

.formula {
  display: flex;
  width: 100%;
  padding: 0 0 5px 7px;
}

.formulaCompressed {
  @extend .formula;

  margin-left: 234px;
}

.formulaTextarea {
  background: #FFFFFF;
  margin: 0 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 48px;
  padding: 5px 5px 1px 5px;
  resize: none;

  &:focus {
    outline: 1px solid royalblue;
  }
}

.iconBtn {
 width: auto;
 height: auto;
 margin: 0;
 padding: 0;
}

.formulaIcons {
  margin-top: 4px;
  display: flex;
}

.okFormula {
  margin-right: 17px;
}