.wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 14px;
}

.select {
  display: flex;
  position: relative;
  width: 50%;

  &:first-child {
    margin-right: 33px;
  }
}

.tables {
  position: absolute;
  top: -35px;
}

.text {
  margin: 0;
}
