.root {
  width: 220px;
  position: fixed;
  right: 0;
  top: 85px;
  outline: 1px solid #dedede;
  height: 100vh;
  background-color: #fff;
}

.navigation {
  display: flex;
  background-color: grey;

  &__item {
    padding: 5px;
    cursor: pointer;
    color: #000;
    opacity: 0.3;

    &_active {
      opacity: 1;
    }
  }
}
