.background {
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.title {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  opacity: 0.9;
}

.colorSelector {
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  .hidden {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.overlay {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 105px;
  transition: 1s;

  &.active {
    top: calc(-50% + 105px);
    width: 160%;
    height: 160%;
    left: -30%;
  }
}
