.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 190px;
  overflow: hidden;
  overflow-y: scroll;
}

.list {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.text {
  text-decoration: underline;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  width: 190px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}