.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  &.modalWithScroll {
    overflow: hidden;
    padding: 0;
  }
}

.modalDialog {
  width: 100%;
  max-width: 426px;
  background: linear-gradient(
    152.97deg,
    rgba(0, 55, 137, 0.75) 0%,
    rgba(0, 55, 137, 0.375) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  margin: auto;

  &.modalDialogWithScroll {
    overflow: hidden;
    max-height: calc(100vh - 40px);
    margin: 0 20px;
  }
}

.modalHeader,
.modalFooter {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.modalHeader {
  justify-content: space-between;
  color: #dbdbdb;
}
.modalFooter {
  justify-content: flex-end;
}
.modalClose {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -0.5rem -1rem auto;
}
.modalBody {
  overflow: hidden;
  height: 100%;
  &.modalBodyWithScroll {
    overflow: auto;
  }
}
.modalContent {
  padding: 1rem 0;
  height: 100%;
}

.modalTitle {
  margin: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.withModalScroll {
}

.close {
  transition: transform 0.8s ease-in-out;
  &:hover {
    transform: rotate(360deg) scale(1.3);
    width: 14px;
  }
}

.modalConfirmWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 426px;
  height: 200px;
  padding: 16px 22px;
  transform: translateX(-50%) translateY(-50%);

  background: linear-gradient(163.79deg, rgba(0, 55, 137, 0.75) 6.45%, rgba(0, 55, 137, 0.375) 100%);
  box-shadow: 0 7px 17px rgba(34, 82, 102, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  color: #FFFFFF;
}

.backgroundBlur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px) invert(25%) brightness(130%);
}

.modalConfirmHeader {
  display: flex;
  flex-direction: row;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.modalConfirmHeaderTitle {
  margin-left: 9px;
}

.modalConfirmMiddle {
  display: flex;
  flex-direction: column;
  margin-left: 3px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 18px;
}

.modalConfirmMiddleTop {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
}

.modalConfirmButtons {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.modalConfirmWrapperConfirmButton {
  margin-right: 17px;
}