.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  &.modalWithScroll {
    overflow: hidden;
    padding: 0;
  }
}

.modalDialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  margin: 20px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  margin: auto;

  &.modalDialogWithScroll {
    overflow: hidden;
    max-height: calc(100vh - 40px);
    margin: 0 20px;
  }
}

.modalHeader,
.modalFooter {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.modalHeader {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  color: #dbdbdb;
}
.modalFooter {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}
.modalClose {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modalBody {
  overflow: hidden;
  &.modalBodyWithScroll {
    overflow: auto;
  }
}
.modalContent {
  padding: 1rem 0;
}

.modalTitle {
  margin: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}


.withModalScroll {

}