.objectPropertiesBlock {
  display: flex;
  flex-direction: row;
  padding: 3px 30px 5px 18px;
}

p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}
.select {
  margin-left: 10px;
}
.selectField {
  padding: 5px 0 0 5px;
}

.selectData {
  height: 22px;
  width: 111px;
}

.selectType {
  height: 22px;
  width: 110px;
}

.selectfunc {
  height: 22px;
  width: 137px;
}

.objectType {
    padding-left: 5px;
}

.objectFunction {
    padding-left: 5px;
}