.report {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 280px;
  padding: 5px 4px 15px 4px;
  height: 110%;
  border-radius: 0;
}

.panelListContainer {
  overflow: scroll;
  height: 100%;
}