.wrapper {
  position: initial;
}

.block {
  display: flex;
  cursor: grab;
  align-items: center;
  color: #000;
  padding: 7px 10px 7px 6px;
  background: #DDDDDD;
  border-radius: 4px;
  height: 30px;
  width: fit-content;
  max-width: 416px;
  margin: 4px 0 10px 43px;
  z-index: 10;

  &:hover {
    z-index: 11;
  }
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  width: auto;
  height: 22px;
  margin-left: 10px;
  padding: 4px;
}

.selectText {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  white-space: nowrap;
}

.optionsWrapper {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.5);
  border-radius: initial;
  z-index: 11;
  left: 0;
  top: 25px;
}

.optionsText {
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  white-space: nowrap;
  padding: 3px 7px 5px 7px;
  border-bottom: 1px solid #EEEEEE;

  &:hover {
    background: #33568C;
    border-radius: initial;
    border-bottom: 1px solid transparent;
    color: #FFFFFF;
  }
}

.title {
  margin: 0;
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}

.input {
  margin-left: 5px;
  width: 130px;
}

.itemsWrapper {
  background: linear-gradient(142.94deg, rgba(255, 255, 255, 0.468) 0%, rgba(255, 255, 255, 0.104) 102.09%) !important;
  box-shadow: 0px 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 4px;
  width: 184px;
  left: 24px;
  top: -9px;
  z-index: 11;
}

.textBlock {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin: 0;
  padding: 4px 5px 4px 9px !important;
  white-space: nowrap;

  &:hover {
    color: white;
    background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
  }

  &:hover .gear + .hide {
    
    display: flex;
    align-items: center;
    width: auto;
    height: 14px;
    background: rgba(243, 243, 243, 0.65);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    border-radius: 2px;
    top: 12px;
    left: 16px;
  }

  &:first-child {
    margin-top: 8px;
    border-radius: initial !important;
  }

  &:last-child {
    margin-bottom: 9px;
    border-radius: initial !important;
  }
}

.icon {
  position: absolute;
  right: 0;
}

.hide {
  display: none;
  position: absolute;
}

.prompt {
  font-size: 10px;
  line-height: 144.69%;
  color: #000000;
  margin: 0;
  padding: 2px 4px;
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-left: 4px;
  z-index: 10;
}

.menuIcon {
  margin: 0 10px;
}

.close {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
