.folderChildItem {
  padding: 5px 0 5px 18px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  cursor: pointer;

  &.selected {
    background-color: #2b6dd0;
    border-radius: 3px;
    color: #ffffff;
  }

  & img {
    display: block;
    height: 100%;
    margin-right: 6px;
  }
}
