.root {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 5px;
  margin-top: 3px;
}

.actionWrapper {
  cursor: pointer;
  margin-left: 12px;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: 15px;
  }
}

.filterNameInput {
  outline: 1px solid #C4C4C4;
  transition: outline 0.2s;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 245px;
  height: 17px;
}

.filterNameInput:focus-visible {
  outline: 1px solid #003789bf;
}

.magnifier {
  margin-left: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-right: 15px;
}
