.searchForm {
  display: flex;
  align-items: center;
}

.searchInput {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 6px;
  border: none;
  background: #cbe6fa;
  box-shadow: 0 5px 10px 5px #a2c9e6 inset;
}

.btn {
  margin: 0 10px;
  height: max-content;
  width: max-content;
}
