.input {
  border: none;
  box-shadow:none;
  outline: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLabel, .inputRequired {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  
  color: #000000;
}

.fullWidth {
  width: auto;
}

.error {
  border-color: red;
}

.textError {
    color: red;
}
