.btn {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
}

.btn:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.bigButtonFont {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.smallButtonFont {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}

.bigBlue {
  height: 29px;
  background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
  @extend .bigButtonFont;
}

.bigOrange {
  height: 29px;
  background: linear-gradient(
    180deg,
    #ffefc5 0%,
    #ffd35a 9.9%,
    #ff8b2b 40.1%,
    #e14a13 100%
  );
  @extend .bigButtonFont;
}

.bigGray {
  height: 29px;
  background: linear-gradient(180deg, #b0c5d9 0%, rgba(196, 196, 196, 0) 100%),
    #011a31;
  @extend .bigButtonFont;
}

.brown {
  height: 22px;
  background: linear-gradient(180deg, #b69056 0%, #734e12 100%), #312101;
  @extend .smallButtonFont;
}

.blue {
  height: 22px;
  background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
  @extend .smallButtonFont;
}

.gray {
  height: 22px;
  background: linear-gradient(180deg, #b0c5d9 0%, rgba(196, 196, 196, 0) 100%),
    #011a31;
  @extend .smallButtonFont;
}

.brownDarker {
  height: 22px;
  background: linear-gradient(180deg, #d9c8b0 0%, rgba(245, 162, 38, 0) 100%),
    #312101;
  @extend .smallButtonFont;
}

.red {
  height: 22px;
  background: linear-gradient(180deg, #eebbbb 0%, rgba(48, 0, 0, 0) 100%),
    #960000;
  @extend .smallButtonFont;
}

.bigRed {
  height: 29px;
  background: linear-gradient(180deg, #eebbbb 0%, rgba(48, 0, 0, 0) 100%),
    #960000;
  @extend .bigButtonFont;
}

.smallOrange {
  height: 17px;
  width: 35px;
  background: linear-gradient(206.57deg, #FFC700 -15.48%, #DF0909 169.05%);
  @extend .smallButtonFont;
  padding: 3px 7px;
}

.disabled {
  background: linear-gradient(180deg, #d1d1d1 0%, rgba(48, 0, 0, 0) 100%),
    #424242;
}
