.btn {
  border-radius: 4px;
}

.btn:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.small {
  width: 64px;
  height: 32px;
  font-size: 0.7rem;
}

.medium {
  width: 88px;
  height: 36px;
  font-size: 0.9rem;
}

.large {
  width: 92px;
  height: 42px;
  font-size: 1rem;
}

.danger {
  background-color: #ff0000;
}
.primary {
  background-color: #0000ff;
}
.sucess {
  background-color: #008000;
}
