.btn {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  color: #eee;
}

.btn:hover {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.btn:active {
  box-shadow: inset -2px -2px 5px rgba(187, 187, 187, 0.75), inset 2px 2px 5px rgba(77, 77, 77, 0.66)
}

.bigButtonFont {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

.smallButtonFont {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}

.bigBlue {
  height: 29px;
  background: linear-gradient(199.32deg, #1AE3D7 -13.92%, #0945DF 111.71%);
  @extend .bigButtonFont;
}

.bigOrange {
  height: 29px;
  background: linear-gradient(200.5deg, #FFC700 0.98%, #DF0909 107.73%);
  @extend .bigButtonFont;
}

.bigGray {
  height: 29px;
  background: linear-gradient(198.54deg, #8B9DAF -3.47%, #031B32 93.64%, #031B32 93.64%);
  @extend .bigButtonFont;
}

.brown {
  height: 22px;
  background: linear-gradient(194.73deg, #DDB881 -5.47%, #322101 100.34%);
  @extend .smallButtonFont;
}

.blue {
  height: 22px;
  background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
  @extend .smallButtonFont;
}

.gray {
  height: 22px;
  background: linear-gradient(180deg, #b0c5d9 0%, rgba(196, 196, 196, 0) 100%),
    #011a31;
  @extend .smallButtonFont;
}

.brownDarker {
  height: 22px;
  background: linear-gradient(180deg, #d9c8b0 0%, rgba(245, 162, 38, 0) 100%),
    #312101;
  @extend .smallButtonFont;
}

.red {
  height: 22px;
  background: linear-gradient(187.22deg, #ECBFBF -7.22%, #6C0000 94.44%);
  @extend .smallButtonFont;
}

.bigRed {
  height: 29px;
  background: linear-gradient(187.22deg, #ECBFBF -7.22%, #6C0000 94.44%);
  @extend .bigButtonFont;
}

.smallOrange {
  height: 17px;
  width: 35px;
  background: linear-gradient(206.57deg, #FFC700 -15.48%, #DF0909 169.05%);
  @extend .smallButtonFont;
  padding: 3px 7px;
}

.disabled {
    opacity: 0.3;
}