.btn {
  border-radius: 4px;
  cursor: pointer;
}

.btn:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.small {
  min-width: 64px;
  height: 22px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium {
  min-width: 88px;
  height: 36px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  min-width: 92px;
  height: 42px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.danger {
  background-color: #ff0000;
}
.primary {
  background-color: #0000ff;
}
.sucess {
  background-color: #008000;
}
