.dialog {
  max-width: unset !important;
  width: 80% !important;
  min-height: calc(87vh - 40px);
  max-height:  calc(87vh - 40px) !important;
  background: linear-gradient(154.55deg, #ffffff 0%, rgba(255, 255, 255, 0.22) 141.45%);
}

.semanticItem {
  height: 70%;
  span {
    font-size: 15px;
  }
  padding-left: 15px !important;
}

.header {
  padding-top: 10px;
  padding-bottom: 3px;

  svg path {
    fill: black;
  }
}

.title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.navigationActions {
  display: flex;

  .reloadIcon {
    svg path {
      fill: black !important;
    }
  }
}

.disNavigationActions {
  display: flex;
  align-items: center;
  margin-bottom: 7px;

  button {
    cursor: default;
    pointer-events: none;
    
    svg path {
      fill: grey;
    }
  }

  .reloadIcon {
    cursor: pointer;
    pointer-events: all;

    svg path {
      fill: black;
    }
  }
}

.search { 
  margin-left: 10px;

  button {
    cursor: pointer;
    pointer-events: all;
  }

  svg path {
    fill: url(#paint0_linear_276_1685) !important;
  }  
}

.modalContent {
  padding-top: 0px;
  padding-bottom: 10px;
}

.modalBody {
  overflow: auto;
}
