.root {
  position: fixed;
  height: 100vh;
  width: 270px;
  background-color: #003261;
  outline: 1px solid;
  z-index: 10;
  transition: left 0.3s ease-out, right 0.3s ease-out;
  padding-top: 20px;

  .menuItem {
    display: flex;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    color: #fff;

    &:hover {
      outline: 1px solid grey;
      background-color: #fff;
      color: #003261;
    }

    &_icon {
      margin-right: 10px;
    }

    &_text {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .link {
    text-decoration: none;
  }
}

.overlay {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 9;
  opacity: 0.5;
}
