.root {
  display: flex;
  align-items: stretch;
}

.selected {
  border: 3px solid rgba(19, 45, 63, 0.7);
  border-radius: 5px;
  padding: 5px;
}

.conditionBlock {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.itemsBlock {
  border-left: 1px solid white;
  min-width: 100px;
  display: grid;
  grid-gap: 10px;
  padding-left: 8px;
}

.dndActive {
  background-color: rgba(127, 223, 255, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(127, 223, 255, 0.3);
}