.listNode {
  list-style: none;

  & .listNodeInnerList {
    margin-left: 0;
    padding-left: 23px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.innerListNode {
  margin: 0;
  padding-left: 23px;
}
