.tablePreviewModal {
  width: 95%;
  height: 95%;
  max-width: unset;
  padding: 0 12px 12px 12px;
  background: #FFFFFF;
}

.tablePreviewContent {
  padding: 4px 0 0;
}

.tablePreviewTable {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  & th {
    padding-right: 16px;
    border: none;
    white-space: nowrap;
  }
  & th svg {
    width: 10px;
    height: 6px;
  }
  & td {
    padding-right: 16px;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    white-space: nowrap;
  }
}

.scaleValueWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.workArea {
  height: 100%;
}

.scalePanelButton {
  cursor: pointer;
}

.scalePanel {
  position: absolute;
  bottom: 0px;
  right: 48px;
  z-index: 15;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.previewModalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0 0 0;
}

.headerTitle {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  margin-left: 3px;
  color: #000000;
}

.previewTableHeader svg {
  color: #000000;
}

.previewTableHeader {
  padding: 12px 0 12px 0;
  border-bottom: 1px solid #0D6CDD;
}

.headerData {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  margin-left: 3px;
  padding: 0 0 0 3px;
  color: #000000;
  opacity: 50%;
  border-left: 1px solid #000000;
}

.tableHeaderTitle {
  margin-left: 3px;
}
