.tablePreviewModal {
  width: 80%;
  max-width: unset;
  padding: 0 12px 12px 12px;
}

.tablePreviewContent {
  padding: 0;
}

.tablePreviewTable {
  font-size: 12px;
}

.scaleValueWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.workArea {
  height: 100%;
}