.wrapperColumn {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
}

.change {
  background: linear-gradient(180deg, #D9C8B0 0%, rgba(245, 162, 38, 0) 100%), #312101;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: none;
  margin-left: 11px;
  height: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: white;
}

.delete {
  background: linear-gradient(180deg, #EEBBBB 0%, rgba(48, 0, 0, 0) 100%), #960000;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: none;
  margin-left: 11px;
  height: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: white;
}

.add {
  background: linear-gradient(180deg, #B0C5D9 0%, rgba(196, 196, 196, 0) 100%), #011A31;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: white;
  border: none;
  height: 22px;
  margin-left: auto;
}

.table {
  margin-bottom: 7px;
}

.inputsWrapper {
  display: flex;
  margin-bottom: 15px;
}

.inputWrapper {
  width: 100%;
}

.addParamBlock {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 -23px;
  padding: 0 23px 10px;
}

.label {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 144.69%;
  margin-left: 5px;
}

.table {
  height: 58px;
  overflow: hidden;
  overflow-y: scroll;
}

.table td {
  color: black;
  border-collapse: collapse;
  border: none;
}

.table .title {
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #949494;
  padding-left: 7px;
}

.table .titleBlock {
  position: relative;
}

.table thead td:not(:first-child) .titleBlock:before {
  content: '';
  position: absolute;
  left: -6px;
  top: 1px;
  height: 12px;
  width: 1px;
  background: #919191;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 144.69%;
  color: #000000;
  margin: 4px 0;
}

.textBlock {
  border-bottom: 1px dashed #D9D9D9;
}

.table tbody tr:last-child .textBlock {
  border-bottom: none;
}

.table tr td:last-child {
  padding-left: 17px;
}

.input {
  border-radius: inherit;
  border: none;

  &:last-child {
    margin-left: 6px;
  }
}