.title {
    color: black;
    margin-bottom: 5px;
}

.checkBoxTitle {
    color: black;
    font-size: 14px;
    font-family: Roboto;
    padding: 2px;
}

.dateSelect {
    outline: none;
    border: none;
}

.actionTitle {
    margin-top: 5px;
}