.root {
  display: flex;
  cursor: grab;
  align-items: center;
  color: #000;
  padding: 7px 10px 7px 6px;
  background: #dddddd;
  border-radius: 4px;
  height: 30px;
  width: fit-content;
  max-width: 500px;
}

.selected {
  outline: 3px solid rgba(19, 45, 63, 0.7);
}

.active {
  outline: 2px solid orange;
}

.title {
  margin: 0;
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  margin-left: 5px;
  width: 131px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.closeBtn {
  margin: 0;
  cursor: pointer;
  height: max-content;
  width: max-content;
  
  & .closeBtnIcon {
    width: 10px;
    height: 10px;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffffff;
  width: auto;
  height: 22px;
  margin-left: 10px;
  padding: 4px;
  cursor: pointer;
}

.selectText {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  white-space: nowrap;
}

.arrow {
  margin-left: 4px;
}

.optionsWrapper {
  position: fixed;
  background: #FFF;
  box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.5);
  border-radius: initial;
  z-index: 2;
  margin-top: 3px;
  
  .optionsText {
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    white-space: nowrap;
    padding: 3px 7px 5px 7px;
    border-bottom: 1px solid #EEEEEE;
  
    &:hover {
      background: #33568C;
      border-radius: initial;
      border-bottom: 1px solid transparent;
      color: #FFFFFF;
    }
  }
}