.btn {
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 26px;
  display: flex;
  align-items: center;

  &:hover > .icon {
    transform: scale(1.1);
  }
}

.icon {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  width: 100px;
}
