.keysBlock,
.manageKeysGroup {
  display: flex;
  flex-direction: column;
  position: relative;
}

//DropDown Starts
.dropDownBlock {
  position: absolute;
  top: -26px;
  left: 60px;
  width: fit-content;
}
.DDField {
  padding: 5px 0 0 5px;
  width: 110px;
}

.DDData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  width: 110px;
  background-color: #ffffff;
}

.selectedIconText {
  display: flex;
  flex-direction: row;
}

.defaultIcon {
  margin: 9px 7px 5px 4px;
}

.defaulTypetIcon {
  margin: 9px 7px 5px 4px;
}

.arrow {
  margin: 0 4px;
  z-index: 10;
}

.dropDownText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 1px;
  cursor: pointer;
  border-radius: none;
}

.dropDownDataBlock {
  position: absolute;
  top: 105%;
  left: -4.25%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 110px;
  height: 22px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.dropDownText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 1px;
  cursor: pointer;
  border-radius: none;
}

.dropDownItem {
  @extend .dropDownText;
  background: #ffffff;
  width: 110px;
  height: 22px;
  padding: 4px;
  border-bottom: 1px solid #eeeeee;

  &:hover {
    background: #33568c;
    border-bottom: 1px solid transparent;
    color: #ffffff;
    border-radius: 0;
  }
}
.dropDownItem:last-child,
.dropDownItem:first-child {
  border-radius: 0;
}
//DropDown Ends

.selectGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.typeGroup {
  display: flex;
  flex-direction: column;
}
.selectInputGroup,
.whereInputGroup {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.footerGroup {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.keysBtn {
  margin-left: 11px;
}

.smallText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 144.69%;
  margin: 4px 0 0 0;
}

.typeSelect {
  height: 22px;
  width: 87px;
  padding-left: 5px;
  border: none;
  outline: none;
}

.selectDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22px;
  width: 146px;
  background-color: white;
}

.whereDiv {
  @extend .selectDiv;
  width: 131px;
}

.pencilIcon {
  margin: 3px 4px;
}

.keysBlockSelectWhereInput {
  width: 85%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

.keysTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 12px 0 4px 0;
}

.tableGroup {
  height: 98px;
  width: 380px;
  margin-top: 12px;
  background-color: white;
  overflow: hidden;
}

.keysTableTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 5px;
}

.keyTableBlock {
  width: 380px;
  height: 76px;
  overflow-y: scroll;
}

.tableTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #949494;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.tableTitleDivider {
  width: 12px;
  height: 1px;
  background-color: #919191;
  transform: rotate(90deg);
}

.keyTable {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}

.tableText {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 144.69%;
  color: #000000;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableType {
  @extend .tableText;
  width: 53px;
  height: 16.5px;
  margin-left: 14px;
  border-bottom: 1px dotted #d9d9d9;
}

.tableSelect {
  @extend .tableText;
  width: 127px;
  max-height: 16.5px;
  margin-left: 7px;
  border-bottom: 1px dotted #d9d9d9;
}

.tableWhere {
  @extend .tableText;
  width: 120px;
  margin-left: 7px;
  border-bottom: 1px dotted #d9d9d9;
}

.checkBoxDiv {
  height: 16.5px;
  width: 27px;
  margin-left: 7px;
  border-bottom: 1px dotted #d9d9d9;
  .CheckBox &.mark {
    background: aqua;
  }
}
