.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;

  & .preloaderText {
    color: #000000;
  }

  .logo {
    animation-duration: 0.7s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes rotation {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}