.wrapper {
  display: flex;
  height: 33%;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.top {
  display: flex;
  align-items: center;
  padding: 6px 0 0 18px;
}

.icons {
  display: flex;
  align-items: center;
  margin: 0 18px 0 auto;
}

.iconsIndents {
  margin-left: 12px;
  cursor: pointer;
}

.content {
  background: #FFFFFF;
  color: #000;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 100%;
  margin-top: 6px;
  overflow: hidden;
  overflow-y: auto;
}