.wrapper {
  display: flex;
  box-sizing: content-box;
  align-items: center;
}

.label {
  display: inline-block;
  cursor: pointer;
  padding-left: 7px;
  color: #FFFFFF;
  font-weight: 400;
}

.container {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
}

.mark {
  // background-color: #FFFFFF;
  display: inline-block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 13px;
    height: 10px;
    background: url('../../../layout/assets/checked.svg') no-repeat center;
    background-size: cover;
    opacity: 0;
  }
}

.input:checked + .mark:after {
  opacity: 1;
}
