.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 24px 0px 5px;
}

.actions {
  width: 100%;
}

.userMenuWrapper {
  min-width: 122px;
}

.logo {
  height: 82px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &_text {
    position: relative;
    top: 6px;
    left: 5px;
    margin-right: 15px;
  }
}
