.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.buttonsWrapper {
  display: flex;
  margin-top: 10px;
}

.iconWrapper {
  display: flex;
  position: relative;
  max-width: 280px;
}

.gearsIcon {
  position: absolute;
  right: -77px;
  top: -10px;
}

.wireIcon {
  position: absolute;
  top: -23px;
  right: 0px;
  cursor: pointer;

  &:hover + .hide {

  display: flex;
  width: 59px;
  height: 25px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 3px;
  top: -39px;
  right: -53px;
  }
}

.hide {
  display: none;
  position: absolute;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  margin: 0;
  padding: 4px;
}

.edit {
  background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: white;
  border: none;
  height: 22px;
  margin-left: auto;
}

.test {
  background: linear-gradient(199.32deg, #1AE3D7 -13.92%, #0945DF 111.71%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 10px;
  line-height: 12px;
  height: 22px;
  margin-left: 15px;
}
