@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'),
  local('Roboto-Thin'),
  url('./layout/assets/fonts/Robotothin.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotothin.woff') format('woff'),
  url('./layout/assets/fonts/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'),
  local('Roboto-ThinItalic'),
  url('./layout/assets/fonts/Robotothinitalic.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotothinitalic.woff') format('woff'),
  url('./layout/assets/fonts/Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'),
  local('Roboto-Light'),
  url('./layout/assets/fonts/Robotolight.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotolight.woff') format('woff'),
  url('./layout/assets/fonts/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'),
  local('Roboto-LightItalic'),
  url('./layout/assets/fonts/Robotolightitalic.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotolightitalic.woff') format('woff'),
  url('./layout/assets/fonts/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  local('Roboto-Regular'),
  url('./layout/assets/fonts/Roboto.woff2') format('woff2'),
  url('./layout/assets/fonts/Roboto.woff') format('woff'),
  url('./layout/assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'),
  local('Roboto-Italic'),
  url('./layout/assets/fonts/Robotoitalic.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotoitalic.woff') format('woff'),
  url('./layout/assets/fonts/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'),
  local('Roboto-Medium'),
  url('./layout/assets/fonts/Robotomedium.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotomedium.woff') format('woff'),
  url('./layout/assets/fonts/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'),
  local('Roboto-MediumItalic'),
  url('./layout/assets/fonts/Robotomediumitalic.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotomediumitalic.woff') format('woff'),
  url('./layout/assets/fonts/Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'),
  local('Roboto-Bold'),
  url('./layout/assets/fonts/Robotobold.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotobold.woff') format('woff'),
  url('./layout/assets/fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'),
  local('Roboto-BoldItalic'),
  url('./layout/assets/fonts/Robotobolditalic.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotobolditalic.woff') format('woff'),
  url('./layout/assets/fonts/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'),
  local('Roboto-Black'),
  url('./layout/assets/fonts/Robotoblack.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotoblack.woff') format('woff'),
  url('./layout/assets/fonts/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'),
  local('Roboto-BlackItalic'),
  url('./layout/assets/fonts/Robotoblackitalic.woff2') format('woff2'),
  url('./layout/assets/fonts/Robotoblackitalic.woff') format('woff'),
  url('./layout/assets/fonts/Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb {
  background: rgba(23, 64, 87, 0.7);
  border-radius: 100vh;
}
