* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  url(./layout/assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'),
    url(./layout/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto'),
    url(./layout/assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'),
  url(./layout/assets/fonts/Roboto-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto', serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
