.input {
  width: 100%;
  border: none;
  border-radius: inherit;
  resize: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  outline: none;
}