.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding-left: 0;
}

.textWrapper {
  padding: 5px 0;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.textContainer {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.textBold {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}
