.valueListConnectionBlock {
  display: flex;
  flex-direction: column;
}

.listConnectionGroup {
  display: flex;
  flex-direction: row;
}

.linkGroup,
.useInGroup {
  display: flex;
  flex-direction: column;
}

.defaultBtn {
  width: 90px;
  margin: 12px 40px 40px 5px;
}

.editBtn {
  margin-left: 5px;
}

.showBtn {
  margin-left: 11px;
}

.availableGroup {
  display: flex;
  flex-direction: row;
}

.defaultLinkInput {
  height: 22px;
  width: 176px;
  margin-right: 26px;
}

.linkBtnGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.checkBoxLabel {
  font-size: 10px;
}

.selectData {
  height: 22px;
  width: 176px;
  margin: 5px 24px 30px 2px;
  .selectData:hover {
    background: #33568C;
  }
}

.checkBoxGroup1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 123px;
}

.checkBoxGroup2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7px;
  height: 74px;
}