.tabsContainer {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.tabsHeader {
	display: flex;
	padding: 0;
	margin: 0;
}

// .tabsContent {
// 	padding: 20px 10px;
// 	height: 300px;
// }
