.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px;
  border: 1px solid#C4C4C4;
}

.isActive {
  outline: 2px solid royalblue;
  box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.15);
  z-index: 19;
}

.graph {
  background-color: red;
}

.shape {
  background-color: rgb(60, 187, 21);
}

.text {
  background-color: rgb(161, 26, 105);
}

.handler {
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;

  &-e {
    transform: rotate(315deg);
    top: 45% !important;
    margin-right: -5px;
  }
  &-s {
    left: 45% !important;
    margin-bottom: -5px;
    transform: rotate(45deg);
  }

  &-sw {
    // bottom: 0;
    // left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
  }
  &-se {
    // bottom: 0;
    // right: 0;
    cursor: se-resize;
  }
  &-nw {
    // top: 0;
    // left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
  }
  &-ne {
    // top: 0;
    // right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
  }
  &-w {
    // top: 50%;
    // margin-top: -10px;
    cursor: ew-resize;
    // left: 0;
    transform: rotate(135deg);
  }

  &-n {
    // top: 0;
    transform: rotate(225deg);
    // left: 50%;
    // margin-left: -10px;
    cursor: ns-resize;
  }
  &-s {
    // bottom: 0;
    transform: rotate(45deg);
    // left: 50%;
    // margin-left: -10px;
    cursor: ns-resize;
  }
}
