.homePageButton {
  width: 77px;
  height: 102px;
  margin: auto;
  background: url(../../../layout/assets/Apps.svg);
  cursor: pointer;
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
  backdrop-filter: blur(7px);

  svg {
    position: absolute;
    right: 12px;
    bottom: 10px;
  }
  &:hover {
    background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
    svg path {
      fill: #fff;
    }
  }
}

.homePageDocumentButton {
  width: 77px;
  height: 102px;
  background: url(../../../layout/assets/Report.svg);
  cursor: pointer;
  &:hover {
    background: url(../../../layout/assets/reportScaled.svg);
  }
  &:hover .close {
    display: block;
  }
}

.homePageSemanticLayerButton {
  width: 77px;
  height: 102px;
  background: url(../../../layout/assets/homePageSemanticLayerButton.svg);
  cursor: pointer;
  &:hover {
    background: url(../../../layout/assets/reportScaled.svg);
  }
  &:hover .close {
    display: block;
  }
}

.homePageButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 12px;
  max-width: 80px;
  min-height: 26px;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  position: relative;
}

.buttonTextApps {
  max-width: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  @extend .buttonText;
}

.close {
  display: none;
}