.homePageButton {
  width: 77px;
  height: 102px;
  margin: auto;
  background: linear-gradient(
    152.97deg,
    rgba(30, 142, 245, 0.29) 0%,
    rgba(11, 34, 55, 0) 100%
  );
  cursor: pointer;
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
  backdrop-filter: blur(7px);

  svg {
    position: absolute;
    right: 12px;
    bottom: 10px;
  }
  &:hover {
    background: linear-gradient(199.32deg, #1ae3d7 -13.92%, #0945df 111.71%);
    svg path {
      fill: #fff;
    }
    transform: scale(1.2);
  }
}

.homePageDocumentButton {
  width: 77px;
  height: 102px;
  background: url(../../../layout/assets/Report.svg);
  cursor: pointer;
  &:hover {
    background: url(../../../layout/assets/ReportScaled.svg);
    transform: scale(1.2);
  }
}

.homePageButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonText {
  margin-top: 12px;
  text-overflow: ellipsis;
  max-width: 80px;
  overflow: hidden;
  text-align: center;
  white-space: normal;

  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.buttonTextApps {
  max-width: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  @extend .buttonText;
}
