.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 81px;
  margin-top: 155px;
}

.row {
  display: flex;
  height: 88px;
  align-items: flex-end;
  padding-left: 145px;
}

.whiteLine {
  position: absolute;
  margin-left: 1135px;
  top: 310px;
  background-color: #fff;
  width: calc(100vw - 1280px);
  height: 88px;
  z-index: -1;
}

.whiteLineShadow {
  box-shadow: 0px 12px 27px rgba(12, 74, 167, 0.31);
}

.whiteLine2 {
  top: 479px;
  @extend .whiteLine;
}

.whiteLine3 {
  top: 648px;
  @extend .whiteLine;
}

.rowTitle {
  width: 200px;
  align-self: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.recentBG {
  background-image: url('../../layout/assets/images/recentWithoutShadow.png');
  background-repeat: no-repeat;
  margin-top: 22px;
}

.favoritesBG {
  background-image: url('../../layout/assets/images/favoritesWithoutShadow.png');
  background-repeat: no-repeat;
}

.appsBG {
  background-image: url('../../layout/assets/images/appsWithoutShadow.png');
  background-repeat: no-repeat;
}

.section {
  display: flex;
  gap: 14px;
  margin-bottom: 15px;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;

    &:visited {
      color: inherit;
    }
  }
}

.apps {
  gap: 24px;
}

// удалить когда запросы на главной буду не нужны

.newServerContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  width: 80%;
  padding: 24px;
  border-radius: 8px;
}

.requestWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 644px;
}

.requestWrapper span, .requestWrapper input {
  margin: 8px 0;
}

.newServerResponse {
  border: 1px solid blue;
  padding: 12px;
  border-radius: 0 0 8px 8px;
}

.newServerManual {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  border-radius: 8px;
  margin: 12px;
  padding: 12px;
  width: 80%;
}

.inlinePreloaderWrapper {
  display: flex;
  height: 88px;
  align-items: center;
  padding-left: 145px;
}

.favoritesPlaceholderWrapper {
  display: flex;
  align-items: center;
  padding-left: 145px;
}