.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 81px;
  margin-top: 155px;
}

.row {
  display: flex;
  // background-color: #fff;
  height: 140px;
  align-items: flex-end;

  padding-left: 145px;
}

.rowTitle {
  width: 200px;
  align-self: center;
  font-weight: 600;
  margin-bottom: 40px;
}

.recent_bg {
  background-image: url('../../layout/assets/images/recent.png');
  background-repeat: no-repeat;
}
.favorites_bg {
  background-image: url('../../layout/assets/images/favorites.png');
  background-repeat: no-repeat;
}
.apps_bg {
  background-image: url('../../layout/assets/images/apps.png');
  background-repeat: no-repeat;
}

.section {
  display: flex;
  gap: 14px;
  margin-bottom: 15px;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;

    &:visited {
      color: inherit;
    }
  }
}

.apps {
  gap: 24px;
}
