.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 81px;
  margin-top: 155px;
}

.row {
  display: flex;
  height: 88px;
  align-items: flex-end;
  padding-left: 155px;
}

.whiteLine {
  position: absolute;
  margin-left: -155px;
  background-color: white;
  width: 100%;
  height: 88px;
  z-index: -1;
}

.whiteLineShadow {
  box-shadow: 0px 12px 27px rgba(12, 74, 167, 0.31);
}

.whiteLine2 {
  @extend .whiteLine;
}

.whiteLine3 {
  @extend .whiteLine;
}

.rowTitle {
  width: 200px;
  align-self: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.recentBG {
  background-image: url('../../layout/assets/images/recentWithoutShadow.png');
  background-repeat: no-repeat;
  margin-top: 22px;
}

.favoritesBG {
  background-image: url('../../layout/assets/images/favoritesWithoutShadow.png');
  background-repeat: no-repeat;
}

.appsBG {
  background-image: url('../../layout/assets/images/appsWithoutShadow.png');
  background-repeat: no-repeat;
}

.section {
  display: flex;
  gap: 14px;
  margin-bottom: 15px;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &:visited {
      color: inherit;
    }
  }
}
.rowWithoutData {
  display: flex;
  height: 88px;
  align-items: center;
  padding-left: 145px;
  .noDataTitle {
    font-size: 12px;
  }
}

.apps {
  gap: 24px;
}

// удалить когда запросы на главной буду не нужны

.newServerContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  width: 80%;
  padding: 24px;
  border-radius: 8px;
}

.requestWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 644px;
}

.requestWrapper span,
.requestWrapper input {
  margin: 8px 0;
}

.newServerResponse {
  border: 1px solid blue;
  padding: 12px;
  border-radius: 0 0 8px 8px;
}

.newServerManual {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  border-radius: 8px;
  margin: 12px;
  padding: 12px;
  width: 80%;
}

.inlinePreloaderWrapper {
  display: flex;
  height: 88px;
  align-items: center;
  padding-left: 145px;
}

.favoritesPlaceholderWrapper {
  display: flex;
  align-items: center;
  padding-left: 145px;
}

.homePageButtonDropdownWrapper {
  z-index: 10;
  display: flex;
  background: linear-gradient(
    152.97deg,
    rgba(47, 137, 187, 0.208) 0%,
    rgba(21, 21, 21, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(34, 82, 102, 0.25));
  backdrop-filter: blur(7px);
  border-radius: 7.5px;
  width: 60px;
}

.dropdownItem {
  padding: 0;

  &:hover {
    background-color: transparent;
  }

  &:hover svg {
    fill: #0078bb;
    transition: all 0.2s;
  }

  & div {
    margin: 0;
    padding: 8px 6px;
  }
}