.root {
  padding: 30px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
}

.section {
  display: flex;
  margin: 20px 0px;

  a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}

.button {
  width: 120px;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 20px;

  svg {
    width: 100%;
    height: 30%;
    fill: #00315f;
  }

  &_text {
    word-break: unset;
    width: 80%;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
  }

  &:hover {
    background-color: #00315f;
    color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    svg {
      fill: #fff;
    }
  }
}
