.form {
  display: flex;
  flex-direction: column;
}

.root {
  position: relative;
  padding: 32px 64px;
  height: calc(100% - 75px);
}

.createButton {
  margin: 0;
  height: max-content;
  width: max-content;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
}

.connectorsLabel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.connectionTypeSection {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.selectText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.connectorsInput {
  margin-bottom: 10px;
}

.testConnectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connectionWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.connectionTypeWrapper {
  width: 100%;
  padding-left: 24px;
}

.connectionTypeInputsWrapper {
  padding-left: 36px;
}

.testConnectionButton {
  font-size: 10px;
  width: 102px;
  height: 22px;
  margin-top: 92px;
}

.gearsIconWrapper {
  position: relative;
  top: 40px;
}

.connectorsLabel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
