.form {
  display: flex;
  flex-direction: column;
}

.root {
  position: relative;
  padding: 32px 64px;
  height: calc(100% - 75px);
}

.createButton {
  margin: 0;
  height: max-content;
  width: max-content;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
}

.connectorsLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.connectionTypeSection {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.selectText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-left: -4px;
}

.connectorsInput {
  margin-bottom: 10px;
  padding-left: 6px;
  font-size: 10px;
}

.testConnectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
}

.connectionWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 22px;
}

.connectionTypeWrapper {
  width: 301px;
  padding: 0 0 11px 22px;
}

.connectionTypeSelect {
  border: none;
  width: 100%;
  padding-left: 6px;
  margin: 0 0 25px 0px;
}

.connectionTypeInputsWrapper {
  padding-left: 21px;
}

.connectionTypeSelect {
  border: none;
  width: 100%;
  padding-left: 6px;
  margin: 0 0 25px 0px;
}

.testConnectionButton {
  margin-top: 146px;
}

.gearsIconWrapper {
  position: relative;
  top: 40px;
  margin-left: 85px;
  transform: scale(1.5);
}

.connectorsLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left:-4px;
}

.selectInput {
  max-width: 379px;
  padding-left: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  border: none;
}

.selectTypeConnection {
  width: calc(100% - 4px);
  @extend .selectInput;
}

.footerButtonsGroup {
  padding: 0 0 4px 0;
}

.modalContent {
  padding: 0;
}

.cancelButton {
  margin: 0 9px 0 10px;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

