.active_col {
  background-color: sandybrown !important;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: #fff;
  // font-size: 9px;
  td {
    border:  1px solid #E4E4E4;
    height: 19px;
    width: 150px;
  }
  th {
    border:  1px solid #E4E4E4;
    // background: linear-gradient(180deg, #1AE3D7 -20%, #0945DF 120%);
    // color: white;
    height: 19px;
    font-style: normal;
    font-weight: 700;
  }
}

.table > tr:nth-child(odd) {
  background: #bdbdbd;
}

.table-container {
  width: 100%;
  overflow: auto;
}
