.active_col {
  background-color: sandybrown !important;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: #fff;

  td {
    border: 1px solid #d8d8d8;
  }
  th {
    border: 1px solid #d8d8d8;
  }
}

.table > tr:nth-child(odd) {
  background: #bdbdbd;
}

.table-container {
  width: 100%;
  overflow: auto;
}
