.tooltip {
  position: fixed;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(34, 82, 102, 0.25);
  backdrop-filter: blur(7px);
  border-radius: 3px;
  padding: 4px;
  font-size: 12px;
  color: #000000;
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s;

  &.visible {
    opacity: 1;
  }
}
