.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.leftActions {
  display: flex;
}

.rightActions {
  display: flex;
  margin-right: 100px;
}

.icon {
  color: #fff;
}

.text {
  color: #fff;
}
